*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all-header{
    height: 50vh;
    background: url("../img/home/hero-bg-3.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    
}
