*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all-header{
    height: 50vh;
    background: url("../img/recipe/recipebg3.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
    
}
.overlay-all {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }