* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80%;
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  z-index: 1;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0;
  }
  67% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  animation: fade 9s ease-in-out infinite alternate;

}
.carousel img:nth-of-type(1) {
  animation-delay: 0s;
}
.carousel img:nth-of-type(2) {
  animation-delay: 3s;
}
.carousel img:nth-of-type(3) {
  animation-delay: 6s;
}

.hero-content {
  color: #fff;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: calc(100vw * 25 / 1900);
  flex-basis: 50%;
  margin-left: 5%;
}

.hero-content h1 {
  font-size: calc(100vw * 140 / 1900);
  color: #fff;
  font-family: var(--kaushan);
  font-weight: 500;
}

.hero-content p {
  font-size: calc(100vw * 21 / 1900);
  color: #fff;
  margin-bottom: calc(100vw * 26 / 1900);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  z-index: 12;
}
.hero-image img {
  width: calc(100vw * 700 / 1900);
}

.hero-content .btn {
  display: inline-block;
  padding: 15px 35px;
  background-color: var(--yellow);
  color: var(--bb);
  font-size: calc(100vw * 21 / 1900);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  border-radius: calc(100vw * 5 / 1900);
  font-weight: bold;
}

.search-container {
  margin: 5%;
  display: flex;
  justify-content: center;
}
.search-container h1 {
  font-size: calc(100vw * 55 / 1900);
  margin-right: calc(100vw * 15 / 1900);
}

#search-input {
  width: calc(100vw * 950 / 1900);
  padding: calc(100vw * 15 / 1900);
  font-size: calc(100vw * 21 / 1900);
}

#search-btn {
  background-color: var(--yellow);
  color: black;
  padding: calc(100vw * 15 / 1900);
  font-size: calc(100vw * 21 / 1900);
  cursor: pointer;
  border: none;
  font-family: "Poppins", sans-serif;
}
.category-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: calc(100vw * 30 / 1900);
}

.category-button {
  background-color: var(--yellow);
  color: black;
  padding: 10px 20px;
  border-radius: calc(100vw * 50 / 1900);
  margin-right: 10px;
  cursor: pointer;
  font-size: 18px;
  border: none;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
}
.category-button:hover {
  transform: scale(1.1);
}

.category-button.active {
  background-color: black;
  color: var(--yellow);
}

.food-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5%;
}

.food-card {
  width: calc(25% - 10px);
  margin-bottom: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  overflow: hidden;
}

.food-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}
.food-card img:hover{
  transform: scale(1.1);

}
.food-card .content {
  padding: 15px;
}

.food-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.food-card p {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.content p:nth-child(3) {
  margin: 5%;
  color: var(--bv);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: calc(100vw * 16 / 1900);
}
.content p:nth-child(4) {
  margin: 5%;
  color: black;
  padding: calc(100vw * 25 / 1900);
  background-color: var(--yellow);
  text-align: center;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  cursor: pointer;
}


.test-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular-recipes {
  color: var(--bb);
  font-weight: bold;
  font-family: var(--poppins);
  font-size: 85px;
  margin: calc(100vh * 25 / 500);
  text-align: center;
}
.offer-challenge {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 5%;
}

.offer-challenge h5 {
  font-family: var(--kaushan);
  color: var(--bv);
  font-size: calc(100vw * 25 / 1900);
}
.offer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.offer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: calc(100vw * 15 / 1900);
  margin: calc(100vw * 20 / 1900);
  height: 35vh;
  width: 100%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}
.offer-card p {
  font-size: calc(100vw * 16 / 1900);
}
.offer-card h1 {
  font-size: calc(100vw * 21 / 1900);
}
.offer-card i {
  font-size: calc(100vw * 125 / 1900);
}
.offer-card:hover {
  background-color: var(--yellow);
}
.offer-challenge h1 span {
  color: var(--yellow);
  margin-right: calc(100vw * 25 / 1900);
  font-family: var(--kaushan);
}
.offer-challenge h1 {
  font-size: calc(100vw * 85 / 1900);
  font-family: var(--kaushan);
}
.offer-challenge h3 {
  font-size: calc(100vw * 35 / 1900);
}

.title-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
}
.about-main {
  flex-basis: 50%;
}
.about-text {
  flex-basis: 50%;
}
.about-main img {
  width: calc(100vw * 800 / 1900);
}

.about-text h1 span {
  color: var(--yellow);
  margin-right: 15px;
  font-family: var(--kaushan);
}

.about-text h1 {
  font-size: calc(100vw * 85 / 1900);
  font-family: var(--kaushan);
}
.about-text h3 {
  font-size: calc(100vw * 35 / 1900);
  font-family: var(--poppins);
}
.about-text p {
  font-size: calc(100vw * 16 / 1900);
  font-family: var(--poppins);
  margin-bottom: 10%;
}

.about-text a {
  background: var(--yellow);
  padding: 15px 25px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

.title-header h1 span {
  color: var(--yellow);
  margin-right: calc(100vw * 25 / 1900);
  font-family: var(--kaushan);
}

.title-header h1 {
  font-size: calc(100vw * 85 / 1900);
  font-family: var(--kaushan);
}
.title-header h3 {
  font-size: calc(100vw * 35 / 1900);
}

.container-pops {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10%;
  position: relative;
}
.title-pops {
  flex-basis: 100%;
  text-align: center;
  font-size: calc(100vw * 80 / 1900);
  margin-bottom: 20px;
}

.box-recipe {
  flex: 1 0 33.33%;
  height: calc(100vw * 400 / 1900);
  margin: calc(100vw * 10 / 1900);
  background-size: cover;
  background-position: center;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.box-recipe:hover {
  z-index: 2;
  transition: 0.3s ease-in-out;
}
.box-recipe:hover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: -1;
}

.box-recipe:hover h2 {
  font-size:calc(100vw * 55/1900);
  color: white;
  font-family: "Poppins", sans-serif;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.3s;
}
.box-recipe h2 {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.box-recipe:nth-child(2) {
  background-image: url("../img/home/classic-burg.jpg");

}

.box-recipe:nth-child(3) {
  background-image: url("../img/home/cakepan.jpg");
 
}

.box-recipe:nth-child(4) {
  background-image: url("../img/home/checken.jpg");

}

.box-recipe:nth-child(5) {
  background-image: url("../img/home/pizza.jpg");

}


.container-pops h1 span {
  color: var(--yellow);
  margin-right: calc(100vw * 25 / 1900);
  font-family: var(--kaushan);
}
.container-pops h1 {
  font-size: calc(100vw * 85 / 1900);
  font-family: var(--kaushan);
}

@media (max-width: 1300px) {
  .hero {
    height: 95vh;
  }
  .food-cards {
    justify-content: space-between;
  }
}

@media (max-width: 1299px) {
  .hero {
    height: 85vh;
  }
  .food-cards {
    justify-content: space-between;
  }
  .about {
    flex-direction: column;
    text-align: center;
  }

  .about-main,
  .about-text {
    flex-basis: 100%;
  }

  .about-main img {
    width: 600px;
    overflow: hidden;
  }

  .about-text h1 {
    font-size: 70px;
  }

  .about-text h3 {
    font-size: 30px;
  }

  .about-text p {
    font-size: 16px;
  }
}

@media (max-width: 999px) {
  .hero {
    height: 80vh;
  }
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .search-container h1 {
    font-size: 45px;
    margin-right: 10px;
    text-align: center;
  }

  #search-input {
    width: 500px;
    padding: 15px;
    font-size: 17px;
    border: solid black 1px;
    border-radius: 15px;
  }

  #search-btn {
    display: none;
  }
  .food-card {
    width: calc(33.33% - 10px);
  }
  .category-buttons {
    margin-bottom: 30px;
  }
  .category-button {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
  }
  .content p:nth-child(3) {
    font-size: 15px;
  }
  .offer-section {
    flex-direction: column;
  }
  .offer-card {
    text-align: center;
    padding: 25px;
    margin: 20px;
    height: 300px;
  }
  .offer-card p {
    font-size: 16px;
  }
  .offer-card h1 {
    font-size: 21px;
  }
  .offer-card i {
    font-size: 100px;
  }
  .title-header h1 {
    font-size: 60px;
  }
  .title-header h3 {
    font-size: 30px;
  }
  .about-main img {
    width: 400px;
    overflow: hidden;
    margin-left: 5%;
  }
  .offer-challenge h1 span {
    font-size: 60px;
    text-align: center;
  }
  .offer-challenge h1 {
    font-size: 65px;
  }
  .offer-challenge h3 {
    font-size: 35px;
  }

}

@media (max-width: 799px) {
  .food-card {
    width: calc(45% - 10px);
  }
  .search-container {
    margin-top: 10%;
  }
  .search-container h1 {
    font-size: 60px;
  }
  #search-input {
    width: 400px;
    padding: 10px;
    font-size: 16px;
  }
  .category-buttons {
    margin-bottom: 20px;
  }
  .category-button {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
  }
  .hero-image {
    order: 1;
    flex-basis: 100%;
    padding: 5%;
  }
  .hero-content {
    justify-content: center;
    align-items: center;
    order: 2;
    flex-basis: 100%;
    margin-bottom: 5%;
    margin-left: 0;
  }
  .hero-content h1 {
    font-size: 55px;
    text-align: center;
  }

  .hero-content p {
    font-size: 12px;
    text-align: center;
  }
  .hero-content .btn {
    padding: 10px 25px;
    font-size: 12px;
    text-align: center;
  }
  .content p:nth-child(3) {
    font-size: 12px;
  }
  .hero {
    flex-direction: column;
    height: 100%;
  }
}

@media (max-width: 599px) {
  .food-card {
    width: 100%;
  }
}
